.indicators-section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: transparent;
  background-image: radial-gradient(
    302.73% 302.73% at 50% 50%,
    #001132 0%,
    rgba(0, 17, 50, 0) 100%
  );
  color: #fff;
}

.indicator-number {
  font-size: 4rem;
}

.indicator-item {
  margin-bottom: 1rem;
}

@media (max-width: 1025px) {
  .indicator-number {
    font-size: 3rem !important;
  }
}

@media (max-width: 768px) {
  .indicators-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .indicator-item {
    margin-bottom: 1rem;
  }
}
