.modal-container {
  width: 80vw;
  margin: 0 auto;
  max-height: calc(100vh - 40px);
  background-color: white;
  padding: 1.25rem;
  z-index: 20;
}

.modal-header {
  margin-bottom: 1rem;
}

.modal-title {
  text-align: center;
  letter-spacing: 0.65rem;
  font-weight: 700;
}

.modal-subtitle {
  text-align: center;
  letter-spacing: 0.25rem;
  font-weight: 700;
}

.border-right {
  border-right: 1px solid #000;
}

.confirm {
  background-color: #07b40e;
  color: #fff;
  font-weight: bolder;
  font-size: 1.1rem;
  border: 1px solid #07b40e;
  border-radius: 0.3rem;
  display: block;
  width: 100%;
  padding: 1.25rem;
  letter-spacing: 0.3rem;
}

.confirm:hover {
  cursor: pointer;
  background-color: #07b40dd2;
}

.explain {
  font-size: 1.2rem;
}

.test-info {
  display: flex;
  justify-content: flex-start;
}

.test-icon {
  margin-top: 0.3rem;
  margin-right: 0.5rem;
}

.submitted-container {
  position: relative;
}

.submitted-content {
  position: absolute;
  left: 50%;
  margin-left: -1.5rem;
  top: 17.5rem;
  margin-top: -4rem;
}

@media (max-width: 768px) {
  .border-right {
    margin-bottom: 3rem;
    border-right: none;
  }
}

@media (min-width: 769px) {
  .box-height {
    height: 35rem;
  }
}




/* Check verde */
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
