.sub-heading-container {
  padding-right: 7rem;
  padding-left: 7rem;
}

.products-container {
  margin-top: 5rem;
}

.product {
  border: 1px solid #aaa;
  padding: 2rem;
  box-shadow: 2px 2px 2.5px grey;
  height: 20rem;
}

.product-text {
  margin-top: 1rem;
}


@media (max-width: 1024px) {
  .sub-heading-container {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}

@media (max-width: 768px) {
    .sub-heading-container {
      padding-right: 3rem;
      padding-left: 3rem;
    }

   
    .mobile-padding {
        padding-left: 4rem;
        padding-right: 4rem;
    }
  }
  
